<div class="bloco">
    <img src="/assets/img/contato_1.png" alt="Atendimento ao cliente">
    <p class="bold">Atendimento ao cliente</p>
    <p class="normal">Segunda a sexta feira <br> das 08:00 hs às 18:00 hs</p>
</div>
<div class="bloco">
    <img src="/assets/img/contato_2.png" alt="Comercial">
    <p class="bold">Comercial</p>
    <p class="normal">
        + 55 (27) 3256-1711 <br>
        + 55 (27) 99700-4778 - WhatsApp <br>
        contato@controlook.com
    </p>
</div>
<div class="bloco">
    <img src="/assets/img/contato_3.png" alt="Suporte Técnico">
    <p class="bold">Suporte Técnico</p>
    <p class="normal">
        + 55 (27) 3256-1711 <br>
        + 55 (27) 99702-4778<br>
        suporte@controlook.com
    </p>
</div>