<!--[if lte IE 9]>
    <p class="browserupgrade">Você esta utilizado um <strong>navegador ultrapassado</strong> . <a href="https://browsehappy.com/">Atualize seu navegador</a> Para ter mais segurança e uma melhor experiencia navegando pela internet.</p>
<![endif]-->

<div class="overlay"></div>
<header>
    <div class="layout">
        <a href="/index" class="logo"><img src="/assets/img/logo-controlook.png" alt=""></a>
        <nav class="desktop">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/sistema-gestao-igrejas">Quem Somos</a></li>
                <li><a href="/funcionalidades">Funcionalidades</a></li>
                <li><a href="/planos-e-precos">Planos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li class="login"><a href="{{ site.url_login }}">Login</a></li>
                <li class="cta"><a href="https://signup.controlook.com" class="botao verde">Cadastre-se</a></li>
            </ul>
        </nav>
        <a href="#" class="botao-responsivo modal-trigger mobile" data-id="menu"><i class="fas fa-bars"></i></a>
    </div>
</header>