<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if page.title %}{{ page.title | append: " - Controlook" }}{% else %}{{ site.title }}{% endif %}</title>
{% if page.noindex %}
<meta name=”robots” content=”noindex”>{% endif %}
<meta name="author" content="Controlook" />
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="gestão, igrejas, sistema, online, 2c1f3422f1437ae94ec5"/>
<meta name="wot-verification" content="2c1f3422f1437ae94ec5"/>
<meta name="norton-safeweb-site-verification" content="5lj85nqy406d77dqc36yzl5vyv7x075opas7gpp9ttjd0acr5z95kndwdtinxi1k67zec7oadvx8h34jufb26kh6i-g3yuqjtwywopcfvckv3l9jrnujalbinc2zh1tb" />
<meta property="og:title" content="{% if page.title %}{{ page.title | append: " - Controlook" }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:image" content="{{ site.url }}/assets/img/img-facebook.jpg" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="{% if page.title %}{{ page.title | append: " - Controlook" }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="{{ site.url }}/assets/img/img-facebook.jpg" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title | append: " - Controlook" }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta name="msvalidate.01" content="37C9DAE6E3483747938E4E3600C23B3E" />
<link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/main.css">
<script type="application/ld+json">
    {
        "@type": "WebPage",
        "headline": "{% if page.title %}{{ page.title | append: " - Controlook " }}{% else %}{{ site.title }}{% endif %}",
        "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
        "description": "{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}",
        "@context": "http://schema.org"
    }
</script>
