<div class="prints">
    <div class="layout">
        <div class="blocos">
            <div class="bloco">
                <div class="foto">
                    <p class="tag">Eficiente controle da membresia</p>
                    <img src="/assets/img/dashboard-igreja.png" alt="Sistema Controlook Igrejas">
                </div>
                <div class="texto">
                    <div class="bloco_texto">
                        <img src="/assets/img/icone-grupos-celular.png" alt="Pequenos grupos e células">
                        <p class="azul">Pequenos Grupos, Células e Comunhão</p>
                        <p class="cinza">Gerencie as reuniões, realize o planejamento, faça a chamada e veja os principais relatórios de controle dos participantes.</p>
                    </div>
                    <div class="bloco_texto">
                        <img src="/assets/img/icone-controle-membros.png" alt="Controle de membros">
                        <p class="azul">Controle completo da membresia e gestores</p>
                        <p class="cinza">Gerencie membros, líderes, visitantes e muito mais. Personalize os cadastros para deixar tudo adequado a sua denominação.</p>
                    </div>
                    <div class="bloco_texto">
                        <img src="/assets/img/icone-aplicativos-android-ios.png" alt="Aplicativo para Igreja">
                        <p class="azul">Aplicativos para Android e iOS</p>
                        <p class="cinza">Os membros e visitantes poderão interagir com a igreja através de um aplicativo exclusivo que permitirá o acesso a muitos conteúdos.</p>
                    </div>
                    <div class="bloco_texto">
                        <img src="/assets/img/contabilidade-online.png" alt="Contabilidade online para Igrejas">
                        <p class="azul">Contabilidade online</p>
                        <p class="cinza">A contabilidade online integrada ao seu sistema de gestão para você reduzir custo e aumentar ao máximo sua eficiência.</p>
                    </div>
                </div>
            </div> <!-- end of bloco  -->
            <div class="bloco">
                <div class="foto foo">
                    <p class="tag">O Melhor Controle Financeiro</p>
                    <img src="/assets/img/controle-financeiro.png" alt="Controle Financeiro para Igrejas">
                </div>
                <div class="texto foo">
                    <div class="bloco_texto">
                        <img src="/assets/img/icone-controle-financeiro.png" alt="Controle Financeiro">
                        <p class="azul">Controle Financeiro</p>
                        <p class="cinza">Controle completo de toda movimentação financeira com muitos relatórios gerenciais.</p>
                    </div>
                    <div class="bloco_texto">
                        <img src="/assets/img/icone-centro-custos.png" alt="Centro de custos">
                        <p class="azul">Centro de custos</p>
                        <p class="cinza">Gerencie centros de custos para controlar separadamente receitas e despesas de cada evento, projeto, ministério ou departamento.</p>
                    </div>
                    <div class="bloco_texto">
                        <img src="/assets/img/icone-fluxo-caixa.png" alt="Fluxo de caixa">
                        <p class="azul">Fluxo de caixa</p>
                        <p class="cinza">Controle seu fluxo de caixa, faça projeções futuras, tome decisões tempestivas com a excelência que sua igreja merece.</p>
                    </div>
                    <div class="bloco_texto">
                        <img src="/assets/img/icone-relatorios-financeiros.png" alt="Relatórios financeiros">
                        <p class="azul">Relatórios estatísticos e financeiros</p>
                        <p class="cinza">Relatórios completos para manter o controle da sua igreja em suas mãos.</p>
                    </div>
                    <!--   <div class="bloco_texto">
                                <img src="/assets/img/icone-boleto-bancario.png" alt="Emissão de boletos bancários">
                                <p class="azul">Boletos Bancários</p>
                                <p class="cinza">Emita boletos bancários de forma simples e eficaz. Organize as inscrições em eventos, campanhas e mensalidades de cursos e escolas.</p>
                            </div> -->
                </div>
            </div> <!-- end of bloco  -->
        </div> <!-- end of blocos  -->
    </div>
</div> <!-- end of prints  -->