<div class="depoimentos">
    <img src="/assets/img/testimonial.webp" alt="">
    <div class="carousel">
        <h2>Veja o que nossos clientes tem a dizer</h2>
        <div class="owl-depoimentos owl-carousel">
            <div class="item">
                <p class="resumo">Resultados extraordinários</p>
                <p class="descricao">Tenho utilizado o Controlook na gestão financeira e tem me trazido resultados extraordinários na gestão financeira de minha igreja.</p>
                <p class="nome">Marcio Scheidegger</p>
                <p class="empresa">2ª IPB de Nova Venécia</p>
            </div>
            <div class="item">
                <p class="resumo">Um excelente sistema para gestão de igrejas</p>
                <p class="descricao">Um excelente sistema para gestão de igrejas. Utilizo a muito tempo e não tenho do que reclamar. Muito bom mesmo!</p>
                <p class="nome">Luciana De Angelo</p>
            </div>
            <div class="item">
                <p class="resumo">Inovador, prático e relevante</p>
                <p class="descricao">Programa inovador de gestão, prático e relevante. Muito bom.</p>
                <p class="nome">Fernando Costalonga</p>
            </div>
        </div>
    </div>
</div> <!-- end of depoimentos  -->